exportPattern(rcv)
exportPattern(krcv)
exportPattern(bsrcv)
exportPattern(ensemble)
import("glmnet")
import("SAM")
import("caret")
import("lm.beta")
importFrom("stats","coef","lm")
importFrom("utils", "combn", "head", "tail")
importFrom("caret","createFolds")
importFrom("glmnet","glmnet")
importFrom("lm.beta","lm.beta")
importFrom("SAM","samQL")
